header {
  max-width: 1440px;
  display: flex;
  gap: 420px;
  margin: auto;
  justify-content: space-around;
  padding-bottom: 40px;
}

nav {
  display: flex;
  gap: 84px;

}

ul {
  display: flex;
  gap: 42px;
  list-style: none;
  font-size: 14px;
  font-family: "Lato", Arial, sans-serif;
  text-transform: uppercase;
}

.try>* {
  box-sizing: border-box;
}

form.example input[type=text] {
  padding: 10px;
  font-size: 17px;
  border: none;
  float: left;
  width: 30%;
  background: #f1f1f1;
  filter: opacity(0%);
}

form.example button {
  float: left;
  width: 20%;
  padding: 10px;
  background: #fff;
  color: black;
  font-size: 14px;
  border: none;
  border-left: none; 
  cursor: pointer;
}

.example label:hover input {
  filter: none;
  transition: 1000ms;
}

form.example button:hover {
  background: #99a4ad;
}

form.example::after {
  content: "";
  clear: both;
  display: table;
}

.hero {
  margin: auto;
  max-width: 1440px;
}

.hero>img {
  position: relative;
}

h1 {
  position: absolute;
  font-size: 48px;
  font-family: "Red Hat Display", Arial, sans-serif;
  width: 770px;
}